# PocketBase
PUBLIC_BASE_URL=https://pookit.dev/ // Cloudflare Pages URL
PUBLIC_PB_URL=https://your-instance.pockethost.io // URL of your PocketBase instance
# PocketBase Admin
PRIVATE_PB_ADMIN_EMAIL=
PRIVATE_PB_ADMIN_PASSWORD=

# PostHog
PRIVATE_POSTHOG_PROJECT_API_KEY=phc_xxxx
PRIVATE_POSTHOG_API_HOST=https://eu.i.posthog.com

# Google
PRIVATE_GOOGLE_CLIENT_ID=xxxxx.apps.googleusercontent.com
PRIVATE_GOOGLE_CLIENT_SECRET=GOCSPX-xxxx

# Resend
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxx
RESEND_FROM_ADDRESS=Pookit.dev <hello@yourdomain.com>
RESEND_WEBHOOK_SECRET=whsec_xxxxxxxxxxxxxxxxxxxx

# Polar.sh
POLAR_ACCESS_TOKEN=xxxxxxxxxxxxxxxxxxxx
POLAR_WEBHOOK_SECRET=whsec_xxxxxxxxxxxxxxxxxxxx
# 'sandbox' for testing, 'production' for live payments
POLAR_SERVER=production